@charset "utf-8";

body{
    width:100px;
    body:100px;
    overflow:hidden;
    align-content:center;
    margin-top:0px;
    background-color:yellow;
    font-family: 'Gloucester MT Condensed';
}

table{
    width:100%;
    height:100px;
    background-color:yellow;
    margin:auto;
    margin-top:0px;
    overflow:hidden;
}

#logo{
    width:50px;
    margin-left:10px;
}

#content{
    font-size:18px;
    font-family: 'Gloucester MT Condensed';
    color:black;
}

#titulo{
    width:100px;
    font-size:28px;
    font-family: 'Gloucester MT Condensed';
    color:black;
    font-weight: bold;
}
#servicos{
    margin-left:20px;
    margin-top:20px;
    font-size:20px;
    font-family: 'Gloucester MT Condensed';
    color:black;
}

#tabela{
    width:auto;
    height:auto;
}

#barra{
    width:auto;
    height:auto;
    margin:auto;
    float:left;
    margin-right:0px;

}
#links{

}
#icones{
    width:auto;
    height:auto;
    display:flex;
    align-content:space-between;
}

.content{
    margin-top:-100px;
}

#conteudo{
    width:100%;
    height:200px;
    padding-left:100px;
    margin-top:-120px;
    font-size:18px;
    font-family: 'Gloucester MT Condensed';
    color:black;
    align-content:center;
}

#head{
    width:auto;
    height:auto;
}
 .rodape{
    width:auto;
    height:40px;
    margin:auto;
    background-color:black;
    font-size:18px;
    font-family: 'Gloucester MT Condensed';
    color:yellow;
    align-content:center;
}

#rodape{
    padding-top:20px;
    margin-left:20px;
}